<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<header>

  <div class="inner-header">
    <div class="container-fluid">
   <div class="row">
     <div class="col-xs-9 col-sm-5 col-lg-4"> 
       <h3 class="h-left"><a (click)="refresh()" class="btn"> <i class="fas fa-sync-alt"></i></a> ADVANCE SEARCH</h3>
      
     </div>
     <div class="col-xs-3 col-sm-3 col-lg-4">
       <div class="h-mid text-center">
         <img src="assets/images/es.jpg" width="70"  alt=""/> 
       </div>
     </div>
     <div class="col-xs-12 col-sm-4 col-lg-4">
       <div class="h-right welcone-div">
         <span>Welcome - <b style = "color: black">{{name}}</b></span>
       </div>
     </div>
   </div>
 </div>
  </div>
</header>